<body>
    <head>
        <style type="text/css">
            #newCarCard:hover{
                border: white 3px solid;
            }
        </style>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>         
<script type="text/javascript">
            $(document).ready(function(){
                console.log("test")
                $.getJSON("https://model-railroad-operation-suite-merge.c9users.io/roster/listCar",function(rawdata,status){
                    console.log(rawdata[0])
                    for(var indexCars=0;indexCars<rawdata.length;indexCars++){
                        console.log(rawdata[indexCars])
                        var id=rawdata[indexCars]['pk']
                        $("#car_roster").append(`<div class='card' id='car-${rawdata[indexCars]['pk']}'>`+
                            "<div class='card-body'>"+
                            `<p>Number:${rawdata[indexCars]["fields"]['roadNumber']}</p>`+
                            `<p>Type:${rawdata[indexCars]["fields"]['cartype']}</p>`+
                            `<p>Road name:${rawdata[indexCars]["fields"]['road_name']}</p>`+
                            `<button class='btn btn-primary' onclick='deleteCar(${id})'>delete</button>`+
                            "</div>"+
                            "</div>")
                    }
                })
                $.getJSON("https://model-railroad-operation-suite-merge.c9users.io/roster/listLocomotive",function(rawdata,status){
                    console.log(rawdata[0])
                    for(var indexCars=0;indexCars<rawdata.length;indexCars++){
                        console.log(rawdata[indexCars])
                        var id=rawdata[indexCars]['pk']
                        $("#locomotive_roster").append(`<div class='card' id='locomotive-${rawdata[indexCars]['pk']}'>`+
                            "<div class='card-body'>"+
                            `<p>Number:${rawdata[indexCars]["fields"]['roadNumber']}</p>`+
                            `<p>Type:${rawdata[indexCars]["fields"]['cartype']}</p>`+
                            `<p>Road name:${rawdata[indexCars]["fields"]['road_name']}</p>`+
                            `<button class='btn btn-primary' onclick='deleteLocomotive(${id})'>delete</button>`+
                            "</div>"+
                            "</div>")
                    }
                })
            })
    function addNewCar(){
        var number=$("#car_Number").val()
        var car_type=$("#car_type").val()
        var car_name=$("#car_roadName").val()
        console.log(number)
        console.log(car_type)
        console.log(car_name)
        $.post("https://model-railroad-operation-suite-merge.c9users.io/roster/addCar",
            {
            "number":number,
             "type":car_type,
             "roadname":car_name},
             function(data,status){
                 console.log(data)
//                 console.log(status)
                $("#car_roster").append(`<div class='card' id='car-${data}'>`+
                    "<div class='card-body'"+
                    `<p>Number:${number}</p>`+
                    `<p>Type:${car_type}</p>`+
                    `<p>Road name:${car_name}</p>`+
                    `<button class='btn btn-primary' onclick='deleteCar(${data})'>delete</button>`+
                    "</div>"+
                    "</div>")
                alert("success")
                $("#AddNewCarModal").modal('toggle')

            })
    }
    function deleteCar(carid){
        console.log(`car id ${carid}`)
        $.get(`https://model-railroad-operation-suite-merge.c9users.io/roster/deleteCar?id=${carid}`,function(data,status){
            if(data=="okay"){
                alert("success")
                $(`#car-${carid}`).remove()
            }
        })
    }
    function addNewLocomotive(){
        var number=$("#locomotive_Number").val()
        var car_type=$("#locomotive_type").val()
        var car_name=$("#locomotive_roadName").val()
        console.log(number)
        console.log(car_type)
        console.log(car_name)
        $.post("https://model-railroad-operation-suite-merge.c9users.io/roster/addLocomotive",
            {
            "number":number,
             "type":car_type,
             "locomotive_roadname":car_name},
             function(data,status){
                 console.log(status)
                 console.log(data)
                $("#locomotive_roster").append(`<div class='card' id='locomotive-${data}'>`+
                    "<div class='card-body'"+
                    `<p>Number:${number}</p>`+
                    `<p>Type:${car_type}</p>`+
                    `<p>Road name:${car_name}</p>`+
                    `<button class='btn btn-primary' onclick='deleteLocomotive(${data})'>delete</button>`+
                    "</div>"+
                    "</div>")
                alert("success")
                $("#AddNewLocomotiveModal").modal('toggle')

            })
    }
    function deleteLocomotive(carid){
        console.log(carid)
        $.get(`https://model-railroad-operation-suite-merge.c9users.io/roster/deleteLocomotive?id=${carid}`,function(data,status){
            if(data=="okay"){
                alert("success")
                $(`#locomotive-${carid}`).remove()
            }
        })
    }
</script>

    </head>
    
    <body>
        <div class="container">
            <div class="jumbotron">
                <h2>Dispatcher</h2>
            </div>
                <ul class="nav nav-tabs">
                    <li class="#active"><a href="#OSsheet" class="nav-item nav-link" data-toggle="tab">Os sheet</a></li>
                    <li class="#active"><a href="#schedule" class="nav-item nav-link" data-toggle="tab">Schedule</a></li>
                    <li><a href="#roster" class="nav-item nav-link" data-toggle="tab">Roster</a></li>
                    <li><a href="#club_managment" class="nav-item nav-link" data-toggle="tab">Club management</a></li>
                    <li><a href="#setting" class="nav-item nav-link" data-toggle="tab">Setting</a></li>
                </ul>
            <div class="tab-content">
                <div id="OSsheet" class="tab-pane fade in show active">
                    <h2>Os sheet</h2>
                </div>
                <div id="schedule" class="tab-pane fade in active">
                    <h2>Schedule</h2>
                </div>
                <div id="roster" class="tab-pane fade">
                    <h2>Roster</h2>
                    <ul class="nav nav-pills">
                        <li class="#active"><a href="#cars_pane" class="nav-item nav-link" data-toggle="pill">cars</a></li>
                        <li><a href="#locomotives_pane" class="nav-item nav-link" data-toggle="pill">locomotives</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="cars_pane" class="tab-pane show active fade">
                            <h3>Cars</h3>
                            <div id="car_roster" class="card-deck">
                                {% include "operations/carModal.html" %}
                            </div>
                            <button  data-toggle="modal" data-target="#AddNewCarModal" class="btn btn-primary">add</button>
                        </div>
                        <div id="locomotives_pane" class="tab-pane fade">
                            <h3>Locomotives</h3>
                            <div id="locomotive_roster" class="card-deck">
                                {% include "operations/locomotiveModal.html" %}                            
                            </div>
                            <button  data-toggle="modal" data-target="#AddNewLocomotiveModal" class="btn btn-primary">add</button>
                        </div>
                    </div>
                </div>
                <div id="club_managment" class="tab-pane fade">
                    <h2>Club Management</h2>
                </div>
                <div id="setting" class="tab-pane fade">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
    </body>
</body>