<body>
    <head>
        <style type="text/css">
            #newCarCard:hover{
                border: white 3px solid;
            }
        </style>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>         
{% load static %}
    </head>
    
    <body>
        <div class="container">
            <div class="jumbotron">
                <h2>Dispatcher</h2>
            </div>
                <ul class="nav nav-tabs">
                    <li class="#active"><a href="#OSsheet" class="nav-item nav-link" data-toggle="tab">Os sheet</a></li>
                    <li class="#active"><a href="#schedule" class="nav-item nav-link" data-toggle="tab">Schedule</a></li>
                    <li><a href="#roster" class="nav-item nav-link" data-toggle="tab">Roster</a></li>
                    <li><a href="#layoutManagment"class="nav-item nav-link" data-toggle="tab">Layout Management</a></li>
                    <li><a href="#club_managment" class="nav-item nav-link" data-toggle="tab">Club management</a></li>
                    <li><a href="#setting" class="nav-item nav-link" data-toggle="tab">Setting</a></li>
                </ul>
            <div class="tab-content">
                <div id="OSsheet" class="tab-pane fade in show active">
                    <h2>Os sheet</h2>
                </div>
                <div id="schedule" class="tab-pane fade in active">
                    <h2>Schedule</h2>
                </div>
                <div id="roster" class="tab-pane fade">
                    {% include "operations/roster.html" %}
                </div>    
                <div id="layoutManagment" class="tab-pane fade">
                    <h2>Layout Management</h2>
                    {% include "operations/layout.html" %}
                    <div id="#stationCards" class="card-deck" width=500%>
                            
                    </div>
                </div>
                <div id="club_managment" class="tab-pane fade">
                    <h2>Club Management</h2>
                </div>
                <div id="setting" class="tab-pane fade">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
    </body>
</body>