<div id="AddNewLocomotiveModal" class="modal fade" role="document">
    <div class="modal-dialog" >
        <div class="modal-content">
                <div class="form-group">
                    <label for='locomtive_Number'>locomotive number</label>
                    <input class="form-control" id='locomotive_Number' type='text' name='car_Number'/>
                </div>
                <div class="form-group">
                    <label for='locomotive_roadName'>locomotive roadname</label>
                    <input class="form-control" id='locomotive_roadName' type='text' name='car_roadName'/>
                </div>
                <div class="form-group">
                    <label for='locomotive_type'>locomotive type</label>
                    <input class="form-control" id='locomotive_type' type='text' name='car_type'/>
                </div>
                <button class='btn btn-primary' onclick="addNewLocomotive()">Submit</button>
        </div>
    </div>
</div>